.container {
    overflow: hidden;
}

.documents-viewer {
    display: flex;
    height: 100%;
    background-color: #ecf9ec;
}

.documents {
    background-color: #ecf9ec;
    width: 400px;
    height: 100%;
}

.pdf-viewer {
    background-color: #ecf9ec;
    flex: 1;
    height: 100%;
}

.find-replace {
    background-color: #ecf9ec;
    width: 300px;
    height: 100%;
}